:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
  }
  
  :root { 
    --background-color: #000000;
    --default-color: #fafafa; 
    --heading-color: #ffffff; 
    --accent-color: #18d26e; 
    --surface-color: #1a1a1a; 
    --contrast-color: #000000; 
  }
  
  :root {
    --nav-color: #fafafa; 
    --nav-hover-color: #18d26e; 
    --nav-mobile-background-color: #1a1a1a; 
    --nav-dropdown-background-color: #1a1a1a; 
    --nav-dropdown-color: #fafafa; 
    --nav-dropdown-hover-color: #18d26e;
  }

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
  }
  
  .contact .info-item .icon {
    color: var(--contrast-color);
    background-color: var(--accent-color);
    width: 56px;
    height: 56px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .contact .info-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 2px 0;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .contact .info-item .social-links a {
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    margin: 4px 6px 0 0;
    transition: 0.3s;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
  }
  
  .contact .info-item .social-links a:hover {
    color: var(--accent-color);
  }
  
  .contact .php-email-form {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 30px;
  }
  
  @media (max-width: 575px) {
    .contact .php-email-form {
      padding: 20px;
    }
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    color: var(--default-color);
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
  }
  
  .contact .php-email-form input[type=text]:focus,
  .contact .php-email-form input[type=email]:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--accent-color);
  }
  
  .contact .php-email-form input[type=text]::placeholder,
  .contact .php-email-form input[type=email]::placeholder,
  .contact .php-email-form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
  }
  
  .contact .php-email-form button[type=submit] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
    /*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: var(--background-color);
    transition: all 0.6s ease-out;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffffff;
    border-color: var(--accent-color) transparent var(--accent-color) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }